@import "base"
@import "general"
@import "sproutcore"

$default-text-shadow-color: rgba(#000, 1)
$default-text-shadow-blur: 1px
$default-text-shadow-v-offset: 1px

#header 
  overflow: visible
  +background(linear-gradient(#0074b6,#00348e 95%))
  border-bottom: 1px solid rgba(#fff,0.1)
  .sc-segmented-view
    width: auto
    .sc-segment-view,.sc-middle-segment
      @include transition-property(background)
      @include transition-duration(.75s)
      &:hover
        label
          color: #ffbd70
      height: 100%
      background: none
      border: none
      padding: 0 30px
      font-size: .8em
      label
        @include transition-property(color)
        @include transition-duration(.75s)
        font-weight: bold
        position: relative
        top: 35%
        color: #dedede
        @include single-text-shadow
    .sc-segment-view.sel
      border-right: 1px solid rgba(#fff,0.25)
      border-left: 1px solid rgba(#ffa,0.25)
      padding: 0 29px 0 30px
      +background(linear-gradient(left,rgba(#111111,.5),rgba(#222222,.5) 10%,rgba(#222222,.5) 90%, rgba(#111111,.5)))

#main-content
  border-top: 1px solid rgba(#000,0.7) 

#footer
  +background(linear-gradient(#222,#333 95%))
  border-top: #999 1px solid

.article-content, .section-content
  line-height: 30px
  font-size: .8em
  p
    line-height: 30px

.articles
  background-color: #222
  .sc-list-item-view
    @include transition-property(background-color)
    @include transition-duration(.5s)
    &:hover
      background-color: #111
      .sc-outline
        label
          left: 30px
    border-top: 1px solid #333
    .sc-outline
      label
        @include transition-property(left)
        @include transition-duration(.5s)
        color: #fff
        left: 10px
  .sc-list-item-view.sel
    border-top: 1px solid #333
    +background(linear-gradient(#111,#222 10%,#222, #111))
    .sc-outline
      label
        left: 30px
